body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
section{
    display: flex;
    }
.blue-color{
    color: rgb(192, 243, 7);
}
.half-width{
    width: 150%;
    font-size: 20px;
    margin: 40px 40px 0px 40px;
}
.banner{
    background-image: url(image/7.png);
    background-repeat: no-repeat;
    margin-top: 30px;

}
.half-width img{
    width: 50%;
    padding-left: 80px;
       
}
.link-button{
    text-decoration: none;
    background-color: rgb(53, 54, 3);
    padding: 10px;
    color: rgb(235, 239, 240);
    border-radius: 30px;
    font-size: 16px;
}
.food-rec{
    text-align: center;
    width: 100%;
    margin-top: 5px;
}


.container{
    display: flex;
    margin: 0 40px 0 40px;
    margin-top: 10px;
    
}
.food-box{
    width: 40%;
    box-shadow: 5px 5px 5px 5px gray;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
}
img{
    width: 100%;
    
}
.suscriber{
    margin: 50px;
    display: flex;
    
}
.media{
    text-align: center;
    width: 40%;
    box-shadow: 5px 5px 5px 5px gray;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
   
}
.media:hover{
    color: hotpink;
    background-color: indigo;
}

.footer{
    background-color: black;
    color: white;
    margin-top: 20px;
    height: 130px;
    text-align: center;
    padding: 10px;

   
}
.color {
    color: tomato;
}